.footer {
  color: #fff;
  background-color: #0a2850;
  padding: 60px 80px;
  position: relative;
  overflow: hidden;
}

.footer__circle {
  width: 340px;
  height: 340px;
  background-color: #2f80ed;
  border-radius: 50%;
  position: absolute;
  top: -128px;
  left: -44px;
  z-index: 0;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__social-link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  transition: color 0.1s ease;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 108px;
}
