.form {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.form__label {
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  box-sizing: border-box;
  border-color: #838383;
  border-radius: 4px;
  margin-bottom: 32px;
}

.form__button {
  font-family: "Inter", Arial, sans-serif;
  line-height: 20px;
  width: 100%;
  height: 60px;
  background-color: #2f80ed;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  margin-bottom: 32px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.form__input-checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 2px;
}
