.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  font-style: normal;
  font-weight: normal;
  color: #000;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.header__title {
  margin-top: 183px;
  margin-left: 80px;
  max-width: 709px;
  font-size: 58px;
  line-height: 72px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

.header__title span {
  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-top: 28px;
  margin-left: 80px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin: auto 80px 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  margin: 0;
}

.header__address {
  margin-right: 80px;
}
