.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  margin-top: 30px;
  margin-left: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  margin-top: 30px;
  margin-right: 80px;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
}

.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  color: #2f80ed;
}
