.recipes {
  padding-top: 100px;
  padding-bottom: 215px;
  color: #fff;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-left: 80px;
  max-width: 580px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-left: 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  column-gap: 40px;
  flex-wrap: wrap;
}

.recipes__iframe {
  border: 0;
  width: 480px;
  height: 273px;
}

.recipes__caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__video-title {
  margin: 0;
}

.recipes__video-duration {
  margin: 0;
}
