.reservation {
  padding-top: 100px;
  padding-bottom: 120px;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #d9e7ff;
  display: flex;
  flex-direction: column;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.reservation__form {
  margin: auto;
  max-width: 385px;
  width: 100%;
}
